@import 'variables';

@mixin flex($align) {
    display: flex;
    align-items: $align;
}
@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin flex-space-between() {
    display: flex;
    justify-content: space-between;
}

@mixin roboto-normal() {
    font-family: $submain-font;
    font-size: 28px;
    font-weight: 200;
    font-style: normal;
}