<div class="header">
    <div class="header__logo-wrapper">
        <img src="../../../../assets/logo.svg" alt="logo" class="header__logo">
        <span class="header__name">LOUVRE</span>
    </div>
    <nav class="header__nav"><ul class="header__nav-list">
        <li class="header__nav-item">Visiting</li>
        <li class="header__nav-item">Explore</li>
        <li class="header__nav-item">Video</li>
        <li class="header__nav-item">Gallery</li>
        <li class="header__nav-item">Tickets</li>
        <li class="header__nav-item">Contacts</li>
    </ul></nav>
</div>
